In [460]:
import pandas as pd

In [461]:
final_data = pd.read_csv('part_4_Customer_GOOD_BAD_parameter_nov_final.csv')

### Preparing data for Logistic regression

In [462]:
final_data.head()

,custid,length_history,R,F,M,product_portfolio,invent_class,F_weighted,M_weighted,R_weighted,product_portfolio_weighted,invent_class_weighted,length_history_weighted,final_value,customer_type
0,12346,3,3,4,1,1,green,0.025,0.250,0.075,0.09,0.1,0.06,0.600,0
1,12347,1,1,1,1,5,green,0.250,0.250,0.150,0.15,0.1,0.10,1.000,1
2,12348,1,1,1,1,5,green,0.250,0.250,0.150,0.15,0.1,0.10,1.000,1
3,12349,4,3,4,3,5,green,0.025,0.125,0.075,0.15,0.1,0.04,0.515,0
4,12350,2,3,4,3,5,green,0.025,0.125,0.075,0.15,0.1,0.08,0.555,0

In [463]:
test1 = final_data[['length_history','R','F','M','product_portfolio','invent_class']]

In [464]:
test1.head()

   length_history  R  F  M  product_portfolio invent_class
0               3  3  4  1                  1        green
1               1  1  1  1                  5        green
2               1  1  1  1                  5        green
3               4  3  4  3                  5        green
4               2  3  4  3                  5        green

#### Mapping all parametes to string type

In [465]:
test1['length_history'] = test1['length_history'].map(str)
test1['R'] = test1['R'].map(str)
test1['F'] = test1['F'].map(str)
test1['M'] = test1['M'].map(str)
test1['product_portfolio'] = test1['product_portfolio'].map(str)

D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [466]:
### Getting Dummies for dataset
X=pd.get_dummies(test1)
y=final_data['customer_type']

In [467]:
X.head()

,length_history_1,length_history_2,length_history_3,length_history_4,R_1,R_2,R_3,R_4,F_1,F_2,...,M_3,M_4,product_portfolio_1,product_portfolio_2,product_portfolio_3,product_portfolio_4,product_portfolio_5,invent_class_green,invent_class_red,invent_class_yellow
0,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
2,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
3,0,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,1,1,0,0
4,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,1,0,0

In [468]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
logreg = LogisticRegression()
logreg.fit(X, y)

D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [469]:
((logreg.coef_)[0])

array([ 2.1596803 ,  1.06171251, -0.54792871, -1.98231006,  3.11984364,
        1.47701163, -0.31299089, -3.59271033,  2.37926421,  3.07721459,
        0.32491497, -5.09023972,  4.18455917,  3.01271267, -1.1078335 ,
       -5.39828429, -1.45651414, -0.47673742,  0.27254068,  0.40279418,
        1.94907075,  1.45987955, -1.26510753,  0.49638202])

In [470]:
logreg.intercept_

array([ 0.69115405])

In [471]:
columns = X.columns

In [472]:
mn=list(zip(X.columns,((logreg.coef_)[0])))

In [473]:
test = pd.DataFrame(mn)

In [474]:
test.rename(columns={0:'Columns',1:'Coefficients'},inplace=True)

In [475]:
test1 = test.append({'Columns' : 'Intercept' , 'Coefficients' :   0.69115405} , ignore_index=True)

### 1.72 is Intercept which comes from logreg.intercept_

In [476]:
def root_extract(x):
    if len(x)>6:
        return x[:5]
    else:
        return x[:1]

In [477]:
test1['Root'] = test1['Columns'].apply(lambda x: root_extract(x))

In [478]:
test1

                Columns  Coefficients   Root
0      length_history_1      2.159680  lengt
1      length_history_2      1.061713  lengt
2      length_history_3     -0.547929  lengt
3      length_history_4     -1.982310  lengt
4                   R_1      3.119844      R
5                   R_2      1.477012      R
6                   R_3     -0.312991      R
7                   R_4     -3.592710      R
8                   F_1      2.379264      F
9                   F_2      3.077215      F
10                  F_3      0.324915      F
11                  F_4     -5.090240      F
12                  M_1      4.184559      M
13                  M_2      3.012713      M
14                  M_3     -1.107834      M
15                  M_4     -5.398284      M
16  product_portfolio_1     -1.456514  produ
17  product_portfolio_2     -0.476737  produ
18  product_portfolio_3      0.272541  produ
19  product_portfolio_4      0.402794  produ
20  product_portfolio_5      1.949071  produ
21   invent_class_green      1.459880  inven
22     invent_class_red     -1.265108  inven
23  invent_class_yellow      0.496382  inven
24            Intercept      0.691154  Inter

In [479]:
min_coef_sum = test1.groupby('Root').min().sum()

In [480]:
min_coef_sum =(min_coef_sum).reset_index().iloc[1,1]

In [481]:
max_coef_sum = test1.groupby('Root').max().sum()

In [482]:
max_coef_sum=(max_coef_sum).reset_index().iloc[1,1]

In [483]:
#### OUR custom scoring range

max_score = 850
min_score = 300

In [484]:
def scale_value(x):
    new_value = x*((max_score-min_score)/(max_coef_sum-min_coef_sum))
    return new_value

In [485]:
test1['Coefficients']=test1['Coefficients'].astype('float')

In [486]:
test1['scaled_value']=test1['Coefficients'].apply(lambda x: scale_value(x))

In [487]:
test1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
Columns         25 non-null object
Coefficients    25 non-null float64
Root            25 non-null object
scaled_value    25 non-null float64
dtypes: float64(2), object(2)
memory usage: 880.0+ bytes

In [488]:
test1['scaled_value_copy'] = test1['scaled_value']

In [489]:
intercept_value_scaled = ((( 0.69115405- min_coef_sum)/(max_coef_sum-min_coef_sum))*(max_score-min_score))+min_score

In [490]:
### Intercept scaled value 
intercept_value_scaled

597.4440240015551

In [491]:
test1.iloc[24,4] =intercept_value_scaled

#### SCORING BASED ON INDIVIDUAL attributes :: Scaled_value_copy final scores per attribute

In [492]:
test1

                Columns  Coefficients   Root  scaled_value  scaled_value_copy
0      length_history_1      2.159680  lengt     34.196344          34.196344
1      length_history_2      1.061713  lengt     16.811139          16.811139
2      length_history_3     -0.547929  lengt     -8.675895          -8.675895
3      length_history_4     -1.982310  lengt    -31.387866         -31.387866
4                   R_1      3.119844      R     49.399555          49.399555
5                   R_2      1.477012      R     23.386979          23.386979
6                   R_3     -0.312991      R     -4.955893          -4.955893
7                   R_4     -3.592710      R    -56.886919         -56.886919
8                   F_1      2.379264      F     37.673232          37.673232
9                   F_2      3.077215      F     48.724567          48.724567
10                  F_3      0.324915      F      5.144698           5.144698
11                  F_4     -5.090240      F    -80.598776         -80.598776
12                  M_1      4.184559      M     66.258244          66.258244
13                  M_2      3.012713      M     47.703245          47.703245
14                  M_3     -1.107834      M    -17.541418         -17.541418
15                  M_4     -5.398284      M    -85.476349         -85.476349
16  product_portfolio_1     -1.456514  produ    -23.062422         -23.062422
17  product_portfolio_2     -0.476737  produ     -7.548653          -7.548653
18  product_portfolio_3      0.272541  produ      4.315405           4.315405
19  product_portfolio_4      0.402794  produ      6.377837           6.377837
20  product_portfolio_5      1.949071  produ     30.861556          30.861556
21   invent_class_green      1.459880  inven     23.115710          23.115710
22     invent_class_red     -1.265108  inven    -20.031693         -20.031693
23  invent_class_yellow      0.496382  inven      7.859705           7.859705
24            Intercept      0.691154  Inter     10.943722         597.444024

In [493]:
test1.groupby('Root').max().sum()

Columns              F_4InterceptM_4R_4invent_class_yellowlength_hi...
Coefficients                                                   16.6414
scaled_value                                                     263.5
scaled_value_copy                                                  850
dtype: object

In [494]:
test1.rename(columns={'scaled_value_copy':'scaled_value_intercept_adjust'},inplace=True)

In [495]:

scaled_score_customer = test1.iloc[:,4]

In [496]:
scaled_score_customer

0      34.196344
1      16.811139
2      -8.675895
3     -31.387866
4      49.399555
5      23.386979
6      -4.955893
7     -56.886919
8      37.673232
9      48.724567
10      5.144698
11    -80.598776
12     66.258244
13     47.703245
14    -17.541418
15    -85.476349
16    -23.062422
17     -7.548653
18      4.315405
19      6.377837
20     30.861556
21     23.115710
22    -20.031693
23      7.859705
24    597.444024
Name: scaled_value_intercept_adjust, dtype: float64

In [497]:
X.head()

,length_history_1,length_history_2,length_history_3,length_history_4,R_1,R_2,R_3,R_4,F_1,F_2,...,M_3,M_4,product_portfolio_1,product_portfolio_2,product_portfolio_3,product_portfolio_4,product_portfolio_5,invent_class_green,invent_class_red,invent_class_yellow
0,0,0,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,1,0,0
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
2,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
3,0,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,1,1,0,0
4,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,1,0,0

In [498]:
data_with_vaiable=X.astype(int)

In [499]:
data_with_vaiable['customer_performace']= y

In [500]:
data_with_vaiable.head()

,length_history_1,length_history_2,length_history_3,length_history_4,R_1,R_2,R_3,R_4,F_1,F_2,...,M_4,product_portfolio_1,product_portfolio_2,product_portfolio_3,product_portfolio_4,product_portfolio_5,invent_class_green,invent_class_red,invent_class_yellow,customer_performace
0,0,0,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,1
2,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,0,1,1,0,0,1
3,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [501]:
data_with_vaiable['custid']= final_data['custid']

In [502]:
data_with_vaiable.head()

,length_history_1,length_history_2,length_history_3,length_history_4,R_1,R_2,R_3,R_4,F_1,F_2,...,product_portfolio_1,product_portfolio_2,product_portfolio_3,product_portfolio_4,product_portfolio_5,invent_class_green,invent_class_red,invent_class_yellow,customer_performace,custid
0,0,0,1,0,0,0,1,0,0,0,...,1,0,0,0,0,1,0,0,0,12346
1,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,1,0,0,1,12347
2,1,0,0,0,1,0,0,0,1,0,...,0,0,0,0,1,1,0,0,1,12348
3,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,12349
4,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,1,0,0,0,12350

#### Re-arranging column in the dataframe

In [503]:
columns = data_with_vaiable.columns.tolist()

In [504]:
columns = columns[-1:] + columns[:-1]

In [505]:
Data_with_dummy_variable =data_with_vaiable[columns]

In [506]:
Data_with_dummy_variable['custid'] = Data_with_dummy_variable['custid'].astype(str)

In [507]:
Data_with_dummy_variable.head()

,custid,length_history_1,length_history_2,length_history_3,length_history_4,R_1,R_2,R_3,R_4,F_1,...,M_4,product_portfolio_1,product_portfolio_2,product_portfolio_3,product_portfolio_4,product_portfolio_5,invent_class_green,invent_class_red,invent_class_yellow,customer_performace
0,12346,0,0,1,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
1,12347,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,1,0,0,1
2,12348,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,1,0,0,1
3,12349,0,0,0,1,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0
4,12350,0,1,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,0,0,0

In [508]:
final_Score_tes1 = Data_with_dummy_variable.copy()

#### Function for generating Customer score based on individual attribute scores

In [509]:
def final_score(x):
    """ intrercept: scaled_score_customer[24] 
    other score """
    score = scaled_score_customer[24] + scaled_score_customer[0]*x[1]+ scaled_score_customer[1]*x[2]+ scaled_score_customer[2]*x[3]+ scaled_score_customer[3]*x[4]+ scaled_score_customer[4]*x[5]\
    + scaled_score_customer[5]*x[6]+ scaled_score_customer[6]*x[7]+ scaled_score_customer[7]*x[8]+ scaled_score_customer[8]*x[9]+ scaled_score_customer[9]*x[10]+ scaled_score_customer[10]*x[11]\
    + scaled_score_customer[11]*x[12]+ scaled_score_customer[12]*x[13]+ scaled_score_customer[13]*x[14]+ scaled_score_customer[14]*x[15]+ scaled_score_customer[15]*x[16]\
    + scaled_score_customer[16]*x[17]+ scaled_score_customer[17]*x[18]+ scaled_score_customer[18]*x[19]+ scaled_score_customer[19]*x[20]+ scaled_score_customer[20]*x[21]\
    + scaled_score_customer[21]*x[22]+ scaled_score_customer[22]*x[23]+ scaled_score_customer[23]*x[24]
    
    return score

#### Passing complete row in the apply function

In [510]:
final_Score_tes1['cust_score']=final_Score_tes1.apply(lambda row : final_score(row), axis = 1)

In [511]:
final_Score_tes1['cust_score']= (round(final_Score_tes1['cust_score'])).astype(int)

In [512]:
final_Score_tes1.head()

,custid,length_history_1,length_history_2,length_history_3,length_history_4,R_1,R_2,R_3,R_4,F_1,...,product_portfolio_1,product_portfolio_2,product_portfolio_3,product_portfolio_4,product_portfolio_5,invent_class_green,invent_class_red,invent_class_yellow,customer_performace,cust_score
0,12346,0,0,1,0,0,0,1,0,0,...,1,0,0,0,0,1,0,0,0,570
1,12347,1,0,0,0,1,0,0,0,1,...,0,0,0,0,1,1,0,0,1,839
2,12348,1,0,0,0,1,0,0,0,1,...,0,0,0,0,1,1,0,0,1,839
3,12349,0,0,0,1,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,517
4,12350,0,1,0,0,0,0,1,0,0,...,0,0,0,0,1,1,0,0,0,565

In [513]:
## Intercept value
scaled_score_customer[24]

597.44402400155514

In [514]:
## Minimum score 
final_Score_tes1['cust_score'].min()

300

In [516]:
## Maximum score 
final_Score_tes1['cust_score'].max()

850

In [517]:
data_with_scorecard = final_Score_tes1[['custid','cust_score']]

In [518]:
new_subset_1 = final_data[['custid','R','F','M','product_portfolio','invent_class','length_history','customer_type']]

In [519]:
new_subset_1['custid'] =new_subset_1['custid'].astype(str)

D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [520]:
new_subset_1['RFM_Score'] = new_subset_1['R'].map(str) + new_subset_1['F'].map(str) + new_subset_1['M'].map(str)

D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

### Customer category based on RFM VALUES,

In [521]:
new_subset_1.loc[(new_subset_1['R'].isin(['1','2','3','4']))& (new_subset_1['F'].isin(['1','2'])) & (new_subset_1['M'].isin(['1','2','3','4'])) ,'category'] = 'Highvalue'
new_subset_1.loc[(new_subset_1['R'].isin(['1']))& (new_subset_1['F'].isin(['1'])) & (new_subset_1['M'].isin(['1'])) ,'category'] = 'Core'
new_subset_1.loc[(new_subset_1['R'].isin(['1','2','3','4']))& (new_subset_1['F'].isin(['3','4'])) & (new_subset_1['M'].isin(['1','2','3','4'])) ,'category'] = 'Hibernating'
new_subset_1.loc[(new_subset_1['R'].isin(['3','4']))& (new_subset_1['F'].isin(['1','2','3','4'])) & (new_subset_1['M'].isin(['1','2'])) ,'category'] = 'At Risk'

D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:337: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
D:\ArcGIS\a\bin\Python\envs\arcgispro-py3\lib\site-packages\pandas\core\indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [522]:
final_data_with_scorecard = pd.merge(new_subset_1,data_with_scorecard,on='custid',how='left')

In [523]:
final_data_with_scorecard.head()

,custid,R,F,M,product_portfolio,invent_class,length_history,customer_type,RFM_Score,category,cust_score
0,12346,3,4,1,1,green,3,0,341,At Risk,570
1,12347,1,1,1,5,green,1,1,111,Core,839
2,12348,1,1,1,5,green,1,1,111,Core,839
3,12349,3,4,3,5,green,4,0,343,Hibernating,517
4,12350,3,4,3,5,green,2,0,343,Hibernating,565

### Mapping Customer Rating

In [524]:
def map_score(x):
    if x<=450:
        return 'Very Poor'
    elif  x>450 and x<=620:
        return 'Fair'
    elif x>620 and x<=700:
        return 'Good'
    elif x>700 and x<=799:
        return 'Very Good'
    else:
        return 'Exceptional'

In [525]:
final_data_with_scorecard['rating']= final_data_with_scorecard['cust_score'].map(map_score)

In [526]:
final_data_with_scorecard.head()

,custid,R,F,M,product_portfolio,invent_class,length_history,customer_type,RFM_Score,category,cust_score,rating
0,12346,3,4,1,1,green,3,0,341,At Risk,570,Fair
1,12347,1,1,1,5,green,1,1,111,Core,839,Exceptional
2,12348,1,1,1,5,green,1,1,111,Core,839,Exceptional
3,12349,3,4,3,5,green,4,0,343,Hibernating,517,Fair
4,12350,3,4,3,5,green,2,0,343,Hibernating,565,Fair

### Distribution of customer rating

In [534]:
# final_data_with_scorecard['rating'].value_counts()/final_data_with_scorecard['rating'].count() 
final_data_with_scorecard['rating'].value_counts(normalize=True)

Fair           0.231748
Very Poor      0.230548
Exceptional    0.212296
Very Good      0.210615
Good           0.114793
Name: rating, dtype: float64

In [535]:
final_data_with_scorecard.to_csv('part_5_Customer_Final_DATA_WITH_SCORES.csv',index=False)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('part_5_Customer_Final_DATA_WITH_SCORES.csv')

In [4]:
df.cust_score.mean()

625.17579250720462